In [65]:
import pandas as pd
df = pd.read_csv("Housing.csv")
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [81]:
duplicates = df.duplicated()
for index, is_duplicate in duplicates.items():
    if is_duplicate:
        print(f"Index: {index}, Duplicate: {is_duplicate}")

In [83]:
nan_data = df.isnull().sum()
print(nan_data)

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [57]:
print(df.dtypes)

price                int64
area                 int64
bedrooms             int64
bathrooms            int64
stories              int64
mainroad            object
guestroom           object
basement            object
hotwaterheating     object
airconditioning     object
parking              int64
prefarea            object
furnishingstatus    object
dtype: object

In [75]:
selected_columns = ['mainroad', 'guestroom', 'basement', 'hotwaterheating',
                    'airconditioning', 'parking', 'prefarea']
unique_values_selected = df[selected_columns].apply(lambda col: col.unique())
print(unique_values_selected)

mainroad                                           [yes, no]
guestroom                                          [no, yes]
basement                                           [no, yes]
hotwaterheating                                    [no, yes]
airconditioning                                    [yes, no]
parking                                         [2, 3, 0, 1]
prefarea                                           [yes, no]
furnishingstatus    [furnished, semi-furnished, unfurnished]
dtype: object

In [79]:
type_mapping = {
    'mainroad': {'yes': True, 'no': False},
    'guestroom': {'yes': True, 'no': False},
    'basement': {'yes': True, 'no': False},
    'hotwaterheating': {'yes': True, 'no': False},
    'airconditioning': {'yes': True, 'no': False},
    'parking': {'2': 2, '3': 3, '0': 0, '1': 1},
    'prefarea': {'yes': True, 'no': False},
}
for col, mapping in type_mapping.items():
    df[col] = df[col].replace(mapping).astype(type(next(iter(mapping.values()))))
print(df.dtypes)

price                int64
area                 int64
bedrooms             int64
bathrooms            int64
stories              int64
mainroad              bool
guestroom             bool
basement              bool
hotwaterheating       bool
airconditioning       bool
parking              int64
prefarea              bool
furnishingstatus    object
dtype: object